fieldset{border-color:darkgrey;
         border-width:.1em;
         background-color:white;
         }
legend{color:red;
  font-size: 150%;
  font-family:helvetica;
  
}
#submit{position:relative;
      left:2em
      }

#one {
    padding:1.4em;  
    background-color:lightgray;
  
    } 
#two{padding:1em;
  background-color:white}
